<!DOCTYPE html>
<html lang="en">

<body class="container">
    <main>
        <div>
            <ul>
                <% files.forEach(function(path) { %>
                    <li>
                        <a href="<%=path%>">
                            <%= file %>
                        </a>
                    </li>
                <% }); %>
            </ul>
    </main>
</body>
</html>